body{

    background: #833AB4;
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253, 29, 29, 1) 51%, rgba(252,176,69,1)100%);
}

button{
        background: #833AB4;
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253, 29, 29, 1) 51%, rgba(252,176,69,1)100%);
    border-radius: 15px;
    color:white !important;
}
h1{
    color:white;
}

button:hover{
     transform: translateY(-10px);
}

